@import '_globals';

.container {
  width: 100%;
  padding-right: $standard-padding;
  padding-left: $standard-padding;
  margin-right: auto;
  margin-left: auto;

  @include phone-above {
    max-width: 540px;
  }
  @include tablet-above {
    max-width: 720px;
  }
  @include tablet-landscape-above {
    max-width: 960px;
  }
  @include desktop-above {
    max-width: 1140px;
  }
}


