@import "_globals";

.containerClass {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.innerClass {
  padding: $standard-padding;
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 576px;
  max-height: 100%;
  box-shadow: 0 0 3px;
}

.closeClass {
  position: absolute;
  top: -45px;
  right: 12px;
  cursor: pointer;
  font-size: 75%;
  display: flex;
  align-items: center;

  span {
    margin-top: 2px;
  }

  svg {
    width: 35px;
    height: 35px;
    stroke: #000;
    stroke-linecap: round;
    transition: stroke 0.5s ease;
    &:hover {
      stroke: #fff;
    }
  }
}
