.person {
  display: flex;
  height: 100%;
}

.left {
  flex: 0 0 32%;
  max-width: 150px;
  display: flex;
  flex-direction: column;

  span {
    font-size: .75rem;
    margin-top: 5px;
  }
}

.avatar {
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}
.title {
  margin: 10px 0 7px;
  font-weight: bold;
}

.right {
  padding: 100px 20px 0 25px;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  border-bottom: 1px solid #a9a4a4;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
